body {
	font: 16px arial;
	text-align: center;
}

#root {
	width: 400px;
	height: 500px;
	border: 5px solid #bbb;
	padding: 10px;
}

.movie-list {

}

.search-bar {
}

.movie-list-entry {
	position: relative;
	height: 40px;
	border: 2px solid #888;
	margin: 4px;
}